<div class="textEditor container col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<form name="newPost">
		<div class="row">

			<div class="col-lg-4 col-md-4">
				<h4><input type="text" required placeholder="Title" ng-model="PA.postData.post_title" id="postTitle" style="width:100%;"/></h4>
			</div>

			<div class="col-lg-4 col-md-4">
				<h4><input type="text" required placeholder="Post URL e.g. /GoSOLO" ng-model="PA.postData.post_url" id="postUrl" style="width:100%;"/></h4>
			</div>

			<div class="col-lg-4 col-md-4">
				<ul>
					<li class="postOptions">
						<button class="btn btn-primary" type="submit" ng-disabled="newPost.$invalid" ng-click="newPost.$valid && PA.draftPost()">Draft</button>
					</li>
					<li class="postOptions">
						<button class="btn btn-success" type="submit" ng-disabled="newPost.$invalid" ng-click="newPost.$valid && PA.publishPost()">Publish</button>
					</li>
					<li class="postOptions">
						<button class="btn btn-danger" type="reset">Cancel</button>
					</li>
				</ul>
			</div>

		</div>

		<div class="row">

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div text-angular="text-angular" name="htmlcontent" ng-model="PA.postData.post_content" ta-disabled='disabled'></div>
			</div>

		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<textarea ng-model="PA.postData.post_excerpt" contenteditable="true" style="width:100%; background-color:white;margin-bottom:5px;" placeholder="Post Description or Excerpt"></textarea>
			</div>
		</div>

		<div class="row">

			<div class="col-sm-12 col-lg-6 col-md-6 col-xs-12">
				<div class="postCard" style="margin-top:10px">
					<div class="form-group" >
							<div class="input-group">
								<span class="input-group-addon"><i aria-hidden="true" id="catInput">Category</i></span>
								<input type="text" ng-model="PA.postData.post_category"
								 uib-typeahead="categories for categories in PA.getCategory($viewValue)"
								 class="form-control"
								 required
								 placeholder="Enter categorization for this post"
								/>
							</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-lg-6 col-md-6 col-xs-12">
				<div class="postCard" style="margin-top:10px">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i aria-hidden="true" id="postTags">Tags</i></span>
							<input type="text" required class="form-control" ng-model="PA.postData.post_tags" placeholder="Separate tags by using comma"/>
						</div>
					</div>
				</div>
			</div>

		</div>

	</form>
</div>

<script>
  $(function(){
    $('[data-toggle="popover"]').popover();
  });
</script>
