<div class="textEditor">
	<h3><input type="text" placeholder="Title" ng-model="pac.newPost.title" id="postTitle"/></h3>
	<div text-angular="text-angular" name="htmlcontent" ng-model="pac.newPost.htmlcontent" ta-disabled='disabled'></div>
</div>
<div class="settings">
	<div class="col-sm-6 col-lg-6">
		<div class="postCard" style="margin-top:10px">
			<div class="form-group" style="padding: 5px">
					<div class="input-group">
						<span class="input-group-addon"><i aria-hidden="true" id="catInput">Category</i></span>
							<select class="dropdown-toggle postOperations selectDrop block" id="catSelect" style="color:#000;">
							<option>Arts</option>
							<option>Food & Travel</option>
							<option>Music</option>
							</select>
					</div>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-lg-6">
		<div class="postCard" style="margin-top:10px">
			<div class="form-group" style="padding: 8px">
				<div class="input-group">
					<span class="input-group-addon"><i aria-hidden="true" id="postTags">Tags</i></span>
						<input type="text" class="form-control" name="tags" id="tags" placeholder="Separate tags by using comma"/>
				</div>
			</div>
		</div>
	</div>
</div>
