<ul class="nav navbar-nav">
    <li><button type="submit" id="revDraft" data-toggle="popover" data-trigger="hover" data-content="Revert to Drafts" data-placement="bottom"><i class="glyphicon glyphicon-ok"></i></button></li>
    <li><button type="submit" id="deletePost" data-toggle="popover" data-trigger="hover" data-content="Delete" data-placement="bottom"><i class="glyphicon glyphicon-remove"></i></button></li>
    <li><button type="submit" id="previewPost" data-toggle="popover" data-trigger="hover" data-content="Preview" data-placement="bottom"><i class="glyphicon glyphicon-new-window"></i></button></li>
    <li><button type="submit" id="publishPost" data-toggle="popover" data-trigger="hover" data-content="Cancel" data-placement="bottom"><i class="glyphicon glyphicon-saved"></i></button></li>
</ul>
