<nav class="navbar navbar-default theme-navbar navbar-fixed-top" scroll ng-class="{shift:boolChangeClass}" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Default</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{active:theme.isTab(1)}"><a href="/#/">Home</a></li>
        <li ng-class="{active:theme.isTab(2)}"><a href="/#/about">About</a></li>
        <li ng-class="{active:theme.isTab(3)}"><a href="/#/contact">Contact</a></li>
        <li ng-class="{active:theme.isTab(4)}"><a href="/#/blog">Blog</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
