<div class="container col-lg-12 col-md-12 col-sm-12">
  <form name="pluginSelection" ng-submit="plugins.submitChanges()">
    <fieldset class="plugins">
      <legend class="text-muted">Available Plugins</legend>
      <ul style="list-style-type:none;margin:0;padding:0;" class="activePluginUl">
        <li ng-repeat="plugin in plugins.pluginList">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h4>{{plugin.plugin_name}}<small> - {{plugin.plugin_creator}}</small></h4>
            <md-switch class="md-primary" ng-model="plugin.plugin_selected" aria-label="Yes or No" ng-true-value="'yes'" ng-false-value="'no'">
            </md-switch>
          </div>
        </li>
      </ul>
    </fieldset>
    <button class="btn btn-primary btn-md setBtn" style="margin-left:10px;" ng-show="pluginSelection.$dirty">Save Changes</button>
  </form>

</div>
