<div class="timeline-start">
  Time Line
    <ul class="timeline">
      <li ng-repeat="trend in trends.trends" ng-class="{'timeline-inverted':(($index+1)%2 === 0)}">
        <div class="timeline-badge" ng-class="{'warning':trend.TYPE==='Blog Viewed', 'info':trend.TYPE==='Post Viewed', 'success':trend.TYPE==='Comment'}">
          <i class="glyphicon" ng-class="{'glyphicon-globe':trend.TYPE==='Blog Viewed', 'glyphicon-modal-window':trend.TYPE==='Post Viewed', 'glyphicon-comment':trend.TYPE==='Comment'}"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">{{trend.TYPE}}</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{trend.TIME}}</small></p>
          </div>
          <div class="timeline-body">
            <p>
              {{trend.IP + " " + trend.description}}
            </p>
          </div>
        </div>
      </li>

      <li>
        <div ng-click="trends.loadMore()" class="timeline-badge">
          <i class="glyphicon glyphicon-menu-down" title="Load More"></i>
        </div>
      </li>

    </ul>
</div>
