<div class="row" ng-controller="wysiwygeditor">
	<div class="col-sm-12 col-lg-4" ng-hide="hidePost()">
		<div class="postCard">
			<div class="postCard-heading">
			<strong><span style="font-size:20px;">Global Warming</span></strong>
			<div class="btn-group block">
			<button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
				<span class="caret"></span>
			</button>
			<ul class="postOperations dropdown-menu pull-right">
					<li><a href="#"><i class="fa fa-pencil" aria-hidden="true" ng-click="showEditor=true;">&nbsp;Edit</i></a></li>
					<li><a href="#"><i class="fa fa-undo" aria-hidden="true">&nbsp;Revert to Draft</i></a></li>
					<li><a href="#"><i class="fa fa-times" aria-hidden="true">&nbsp;Delete</i></a></li>
			</ul>
			</div>
			</div>
				<hr class="postHr">
				<div class="postCard-body">
				<div class="post-author">
				<strong>Author:</strong>
				<span>&nbsp;Black Viking</span>
				</div>
				<div class="post-date">
				<strong>Created On:</strong>
				<span>&nbsp;01/29/2017</span>
				</div>
				<div class="post-tags">
				<strong>Tags:</strong>
				<label class="tags">&nbsp;#Environment</label><span>,&nbsp;</span><label class="tags">#Nature</label>
				</div>
				</div>
				<hr class="postHr">
				<div class="postCard-footer">
				<ul class="postList">
					<li><a href="#"><i class="fa fa-eye" aria-hidden="true"><span class="text-muted">&nbsp;10</span></i></a></li>
					<li><a href="#"><i class="fa fa-comments" aria-hidden="true"><span class="text-muted">&nbsp;5</span></i></a></li>
					<li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"><span class="text-muted">&nbsp;5</span></i></a></li>
					<li><a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"><span class="text-muted">&nbsp;5</span></i></a></li>
					<li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"><span class="text-muted">&nbsp;5</span></i></a></li>
				</ul>
				</div>
		</div>
		</div>

		<div class="col-sm-12 col-lg-4" ng-hide="hidePost()">
		<div class="postCard">
			<div class="postCard-heading">
			<strong><span style="font-size:20px;">Global Warming</span></strong>
			<div class="btn-group block">
			<button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
				<span class="caret"></span>
			</button>
			<ul class="postOperations dropdown-menu pull-right">
					<li><a href="#"><i class="fa fa-pencil" aria-hidden="true" ng-click="showEditor=true;">&nbsp;Edit</i></a></li>
					<li><a href="#"><i class="fa fa-undo" aria-hidden="true">&nbsp;Revert to Draft</i></a></li>
					<li><a href="#"><i class="fa fa-times" aria-hidden="true">&nbsp;Delete</i></a></li>
			</ul>
			</div>
			</div>
				<hr class="postHr">
				<div class="postCard-body">
				<div class="post-author">
				<strong>Author:</strong>
				<span>&nbsp;Black Viking</span>
				</div>
				<div class="post-date">
				<strong>Created On:</strong>
				<span>&nbsp;01/29/2017</span>
				</div>
				<div class="post-tags">
				<strong>Tags:</strong>
				<label class="tags">&nbsp;#Environment</label><span>,&nbsp;</span><label class="tags">#Nature</label>
				</div>
				</div>
				<hr class="postHr">
				<div class="postCard-footer">
				<ul class="postList">
					<li><a href="#"><i class="fa fa-eye" aria-hidden="true"><span class="text-muted">&nbsp;10</span></i></a></li>
					<li><a href="#"><i class="fa fa-comments" aria-hidden="true"><span class="text-muted">&nbsp;5</span></i></a></li>
					<li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"><span class="text-muted">&nbsp;5</span></i></a></li>
					<li><a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"><span class="text-muted">&nbsp;5</span></i></a></li>
					<li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"><span class="text-muted">&nbsp;5</span></i></a></li>
				</ul>
				</div>
		</div>
		</div>

		<div class="col-sm-12 col-lg-4" ng-hide="hidePost()">
		<div class="postCard">
			<div class="postCard-heading">
			<strong><span style="font-size:20px;">Global Warming</span></strong>
			<div class="btn-group block">
			<button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
				<span class="caret"></span>
			</button>
			<ul class="postOperations dropdown-menu pull-right">
					<li><a href="#"><i class="fa fa-pencil" aria-hidden="true" ng-click="showEditor=true;">&nbsp;Edit</i></a></li>
					<li><a href="#"><i class="fa fa-undo" aria-hidden="true">&nbsp;Revert to Draft</i></a></li>
					<li><a href="#"><i class="fa fa-times" aria-hidden="true">&nbsp;Delete</i></a></li>
			</ul>
			</div>
			</div>
				<hr class="postHr">
				<div class="postCard-body">
				<div class="post-author">
				<strong>Author:</strong>
				<span>&nbsp;Black Viking</span>
				</div>
				<div class="post-date">
				<strong>Created On:</strong>
				<span>&nbsp;01/29/2017</span>
				</div>
				<div class="post-tags">
				<strong>Tags:</strong>
				<label class="tags">&nbsp;#Environment</label><span>,&nbsp;</span><label class="tags">#Nature</label>
				</div>
				</div>
				<hr class="postHr">
				<div class="postCard-footer">
				<ul class="postList">
					<li><a href="#"><i class="fa fa-eye" aria-hidden="true"><span class="text-muted">&nbsp;10</span></i></a></li>
					<li><a href="#"><i class="fa fa-comments" aria-hidden="true"><span class="text-muted">&nbsp;5</span></i></a></li>
					<li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"><span class="text-muted">&nbsp;5</span></i></a></li>
					<li><a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"><span class="text-muted">&nbsp;5</span></i></a></li>
					<li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"><span class="text-muted">&nbsp;5</span></i></a></li>
				</ul>
				</div>
		</div>
		</div>
	<texteditor ng-show="showEditor">
	</texteditor>
</div>
