<navbar></navbar>
<banner-post></banner-post>
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" ng-bind-html="post.post.post_content">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <button class="btn btn-primary" href data-toggle="collapse" data-target="#comments">Comments</button>
                <button class="btn btn-primary" href data-toggle="collapse" data-target="#makecomment">Make you comment</button>
                <comment-form></comment-form>
                <comments></comments>
            </div>
        </div>
    </div>
</article>
<br /><br />
<br /><br />
<br /><br />
