/*Navbar Styles*/
.nav>li>a{
  color:#000033 !important;
  font-size:25px;
}

.nav>li>a.active, .nav>li>a:hover, .nav>li>a:focus, .nav>li>a:active{
  font-size:25px;
  color:#fff !important;
  background-color:#000033 !important;
}

/*Banner Styles*/
.homePage{
  background-color:#000033;
  height:200px;
  width:100%;
  color:#fff;
  text-align:center;
  font-size:25px;
  }

.homePage span{
  display: block;
}

/*Scrollbar Styles*/
::-webkit-scrollbar {
  width: 15px;
background-color:white;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/**/
