<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="header">
        <h3 ng-bind-html="main.blogData.content.home_title"></h3>
      </div>
      <div class="body_card">
        <p ng-bind-html="main.blogData.content.home_content"></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <recent-posts></recent-posts>

    <div class="card">
      <div class="header">
        <h3>Recent Posts</h3>
      </div>
      <div class="body_card" ng-init="main.getPosts(1)">
        <div class="post-container" ng-repeat="post in main.posts">
          <h2 ng-bind-html="post.post_title"></h2>
          <button class="btn btn-success" ng-click="main.goToPost(post.post_name)">Read More</button>
        </div>
      </div>
    </div>

  </div>

</div>
