<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="card">
    <div class="header">
      <h3>&nbsp;</h3>
    </div>
    <div class="body_card">
      <h1 ng-bind-html="post.post.post_title"></h1>
      <p>
        Posted on: {{post.post.post_date_gmt}}
      </p>
      <p class="post_content" ng-bind-html="post.post.post_content"></p>

      <button class="btn btn-primary" href data-toggle="collapse" data-target="#comments">Comments</button>
      <button class="btn btn-primary" href data-toggle="collapse" data-target="#makecomment">Make you comment</button>
      <br /><br />
      <div id="makecomment" class="comment_form collapse">
        <comment-form></comment-form>
      </div>
      <div id="comments" class="collapse">
        <div class="comment" ng-repeat="comment in post.comments">
          <h4>
            {{comment.comment_author_name}}
          </h4>
          <p>
            {{comment.comment_content}}
          </p>
          <replies></replies>
        </div>

      </div>

    </div>


  </div>


</div>
