.editor-wrapper{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
  .editor-wrapper .left{
    position: absolute;
    left: 0;
    height: 100%;
  }
  .editor-wrapper .right{
    position: absolute;
    right: 0;
    height: 100%;
  }
.some{
  border:1px solid #000;
}
