.wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.beautify{
  background-color: #e9e9e9;
  padding: 5px;
  border: 1px solid #e8e8e8;
}

/* SIDEBAR STYLES */

.sidebar{
  position: absolute;
  left: 0;
  top:0;
  background-color: #354052;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  color:#e4edf7;
}
  .sidebar-container-top{
    padding: 10px 0;
    margin: 10px 0 0 0;
    border-bottom: 2px solid #2b3544;
  }
  .sidebar-container{
    padding: 10px 0;
    border-bottom: 2px solid #2b3544;
  }

    .sidebar-container .nav>li>a:focus, .nav>li>a:hover{
      background-color: #272f3c;
    }

    .sidebar-container .nav>li>a{
      padding: 5px 30px;
      border-radius: 0;
      color: #FFF;
      font-weight: bold;
    }
      .sidebar-container .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
        background-color: rgb(102, 120, 152);
        background-color: rgba(102, 120, 152, 0.24);
        border-left: 2px solid #2173ff;
      }

  .user-image{
    width:100px;
    border-radius:50%;
    height:100px;
    box-shadow:0 0 10px #000;
  }

/* SIDEBAR STYLES END */

/* WORKARE STYLES */

.workarea{
  position: absolute;;
  top: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  background-color: #F1F1F1;
  height: 100%;
  overflow-y:auto;
}

.nav-tabs>li>a:hover{
  background-color: #e3e3e3;
}

.custom-nav{
  background-color: #354052;
  border-color: #2a3341;
  border-radius: 0;
  border-left: 0;
}

  .custom-nav .navbar-nav>li>a{
    color: #FFF;
  }
  .custom-nav .navbar-brand{
    color: #FFF;
  }

  .custom-nav .navbar-nav>.active>a, .custom-nav .navbar-nav>.active>a:focus, .custom-nav .navbar-nav>.active>a:hover{
    color: #FFF;
    background-color: rgb(102, 120, 152);
    background-color: rgba(102, 120, 152, 0.24);
  }

  .custom-nav .navbar-nav>li>a:focus, .custom-nav .navbar-nav>li>a:hover{
    color: #FFF;
    background-color: #272f3c;
  }

  .custom-nav .navbar-brand:focus, .custom-nav .navbar-brand:hover{
    color: #FFF;
    background-color: #272f3c;
  }


  .billboard{
    width: 100%;
    color: #FFF;
    border-radius: 2px;
    text-shadow: 0 0 1px #000;
    margin: 5px 0;
  }
    .billboard-left{
      width: 38%;
      padding: 5px;
      display: inline-block;
    }
    .billboard-right{
      width: 60%;
      text-align: right;
      padding: 5px;
      display: inline-block;
    }
    .billboard-bottom{
      width: 100%;
      padding: 5px 5px;
    }
      .billboard-bottom a{
        color: #FFF;
        text-shadow: 0;
      }
    .billboard-more{
      width: 100%;
      display: block;
    }

    .billboard#bill-comments{
      background-color: #2be;
      border: 1px solid #29d;
    }
    .billboard#bill-comments .billboard-bottom{
      background-color: #29d;
    }

    .billboard#bill-views{
      background-color: #3b8;
      border: 1px solid #1a7;
    }
    .billboard#bill-views .billboard-bottom{
      background-color: #1a7;
    }

    .billboard#bill-popularity{
      background-color: #83a;
      border: 1px solid #729;
    }
    .billboard#bill-popularity .billboard-bottom{
      background-color: #729;
    }

    .billboard#bill-posts{
      background-color: #fc5;
      border: 1px solid #e92;
    }
    .billboard#bill-posts .billboard-bottom{
      background-color: #e92;
    }

	/*CARD STYLES*/

    .card{
      margin: 10px 0px 5px 0px;
      border: 1px solid;
      border-radius: 4px;
      padding: 0px;
      width: 100%;
    }
      .card .card-head{
        border-bottom: 1px solid;
        padding: 5px 5px;
      }
        .card .card-head h3.card-heading{
          font-size: 18px;
          margin: 0px;
        }
      .card .card-body{
        padding: 20px 0px 5px 0px;
      }
      .card .card-task{
        margin-bottom: 0px;
      }

      .card.card-blue{
        border-color: #0074c8;
      }
        .card.card-blue .card-head{
          background-color: #0094ff;
          color: #FFF;
          border-color: #0074c8;
        }

        .card.card-green{
          border-color: #1a7;
        }
          .card.card-green .card-head{
            background-color: #3b8;
            color: #FFF;
            border-color: #1a7;
          }
          .card.card-pink{
            border-color: #729;
          }
            .card.card-pink .card-head{
              background-color: #83a;
              color: #FFF;
              border-color: #729;
            }
	/*END OF CARD STYLES*/

  /*INVERT CARD STYLES*/
  .invertcard{
    border:1px solid #959595;
    background-color: #f2ebeb;
  }
    .invertcard .cardtitle{
      padding: 0 5px 5px 5px;
    }
    .invertcard .cardbanner{
      height: 200px;
      overflow: hidden;
    }
      .invertcard .cardbanner img{
        width: 100%;
        height: 100%;
      }
  /*END INVERT CARD STYLES*/


	input#postTitle
{
	border:0;
	outline:0;
	background:transparent;
	border-bottom: 1px solid #D3D3D3;
}

input#postTitle:focus
{
	border-bottom: 1px solid #2c8efe;
}

div#editor {
      width: 81%;
      margin: auto;
      text-align: left;
    }

.ta-editor {
  min-height: 300px;
  height: auto;
  overflow-x: none;
  font-family: inherit;
  font-size: 100%;
}

.textEditor{
	margin-left:10px;
	margin-right:10px;
}
/* END WORKAREA STYLES */


/* GENERAL CLASSES */

.hidden{
  display: none;
}

.nothidden{
  display: block;
}

.sidebar-modified{
  left: -10%;
  width: 0%;
}

.workarea-modified{
  left: 0;
  width: 100%;
}
.panel-title{
  font-size: 20px;
}

.animated{
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

.postCard
	{
	border: 2px solid #2c8efe;
	padding:5px;
	background-color:#ffffff;
	margin-bottom:20px;
	}

	ul.postOperations li, ul.postList li
	{
	display: inline;
	padding-right: 10px;
	margin-left:0px;
	}

	hr.postHr
	{
		border:1px solid #2c8efe;
	}

	.dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:focus{
		background-color:transparent;
		border:none;
		right:0;
		color:#2c8efe;
	}

	.block{
		float:right;
	}

	.fa-comments{
		color:black;
	}

	.fa-thumbs-down{
		color: red;
	}

	.fa-share-alt{
		color: gray;
	}

	.fa-eye
	{
		color: #AB47BC;
	}

	.tags{
		color: #2c8efe;
		background-color:transparent;
		border: none;
	}

	.postCard-heading{
		color:#2c8efe;
	}

	::-webkit-scrollbar {
    width: 15px;
	background-color:white;
}

	::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    border-radius: 10px;
}

	::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.popover-content{
	color:#354052;
	font-weight: 700;
	white-space:nowrap;
	max-width:none;
}

#head1{
	font-size: 2em;
}

#head2{
	font-size: 1.5em;
}

#head3{
	font-size: 1.17em;
}

#head4{
	font-size: 1em;
}

#head5{
	font-size: 0.89em;
}

#head6{
	font-size: 0.75em;
}

#headSelect{
	background-color: #ffffff;
}

@media (min-width:300px) and (max-width:768px){
  .workarea-unmodified{
  left: 50%;
  width: 50%;
}
.sidebar-unmodified{
  left: 0;
  width: 50%;
}

.dropdown-toggle {
      width: 100px;
  }
}

@media (min-width: 769px) and (max-width: 992px){
  .workarea-unmodified{
    left: 20%;
    width: 80%;
  }
  .sidebar-unmodified{
    left: 0;
    width: 20%;
  }
}

@media (min-width: 993px) and (max-width: 1200px){
  .workarea-unmodified{
    left: 20%;
    width: 80%;
  }
  .sidebar-unmodified{
    left: 0;
    width: 20%;
  }
}

@media (min-width: 1200px){
  .workarea-unmodified{
    left: 20%;
    width: 80%;
  }
  .sidebar-unmodified{
    left: 0;
    width: 20%;
  }
}

@media (max-width: 600px) {
	.workarea-unmodified{
    left: 85%;
    width: 15%;
  }
  .sidebar-unmodified{
    left: 0;
    width: 85%;
  }
}

.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}

.input-group-addon, .setBtn
{
	background-color:#2c8efe;
	color:white;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  pointer-events: none;
  color: #aaa;
  transition: all 200ms;
}

.form-control:focus + .form-control-placeholder {
  color: #000;
  font-size: 75%;
  top: -25px;
}

.selectDrop option
{
	color: #2c8efe;
	width: 150px;
}

select.selectDrop
{
	text-align:left;
	width: 200px;
	padding-top:10px;
	padding-bottom:10px;
}

.selectDrop option:hover
{
	background-color: #2c8efe;
	color: #fff;
}

ul.commentList li{
  color: #000000;
  display: inline;
  position: relative;
  float: left;
  width: 100%;
  height: 40px;
}

ul.commentList li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul.commentList li label{
  display: block;
  position: relative;
  font-weight: 300;
  padding: 0px 0px 20px 40px;
  margin: 5px auto;
  height: 10px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

/*
ul.commentList li:hover label{
	color: #000000;
}*/

ul.commentList li .check{
  display: block;
  position: absolute;
  border: 3px solid #000000;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 5px;
  left: 0px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

/*
ul.commentList li:hover .check {
  border: 5px solid #000000;
}*/

ul.commentList li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 4px;
	left: 4px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 3px solid #2c8efe;
}

input[type=radio]:checked ~ .check::before{
  background: #2c8efe;
}

input[type=radio]:checked ~ label{
  color: #2c8efe;
}

.switch {
	position: relative;
	display: inline-block;
	margin-top:7px;
	width: 60px;
	height: 34px;
}

.switch input {display:none;}

.slider
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 40px;
	right: -40px;
	bottom: 0;
	background-color: #AAAAAA;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before
{
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider
{
	background-color: #2c8efe;
}

input:focus + .slider
{
	box-shadow: 0 0 1px #2c8efe;
}

input:checked + .slider:before
{
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round
{
	border-radius: 34px;
}

.slider.round:before
{
	border-radius: 50%;
}

#langInput, #commentInput, #email
{
  margin: 11px;
}

#timeInput, #blogTg, #commentModInput, #nPass, #rPass
{
  padding: 10px 10px;
}

#blogTitle, #commentInput{
  padding: 10px 18px;
}

#blogAd{
  padding: 10px 7px;
}

#commentCapInput
{
  margin:25px;
  padding: 10px 28px;
}

#commentNotInput
{
  padding: 10px 24px;
}

#rPass
{
  padding: 10px 3px;
}

#email{
  padding: 10px 27px;
}


#catInput
{
  padding: 10px 50px;
  margin: 20px;
}

#postTags
{
  padding: 20px 60px;
  margin: 25px;
}


#saveDraft, #publishPost, #previewPost, #deletePost
{
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
  color: white;
  margin-top: 10px;
  padding:5px 10px;
}
/* END GENERAL CLASSES */
