<navbar></navbar>
<banner-home></banner-home>
<div class="container">
    <div class="row" ng-init="main.getPosts(5)">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview" ng-repeat="post in main.posts">
                <a ui-sref="post({postName:'{{post.post_name}}'})">
                    <h2 class="post-title">
                        {{post.post_title}}
                    </h2>
                    <h3 class="post-subtitle" ng-bind-html="post.post_content|limitTo:20">
                    </h3>...Read More
                </a>
                <p class="post-meta">Posted on {{post.post_date_gmt}}</p>
                <hr>
            </div>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href ng-click="main.getPosts(main.count+5)">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
