<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_posts">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href ng-click="workspace.setTab(14)">POSTS</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar_posts">
    <ul class="nav navbar-nav">
      <li><a href ng-click="workspace.setTab(14)">All Posts</a></li>
      <li><a href ng-click="workspace.setTab(15)">New Post</a></li>
      <li><a href ng-click="workspace.setTab(16)">Categories</a></li>
      <li><a href ng-click="workspace.setTab(17)">Media</a></li>
      <li><a href ng-click="workspace.setTab(18)">Comments</a></li>
      <li><a href ng-click="workspace.setTab(19)">#Tags</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
