<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_settings">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href ng-click="workspace.setTab(20)">SETTINGS</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar_settings">
    <ul class="nav navbar-nav">
      <li><a href ng-click="workspace.setTab(20)">General</a></li>
      <li><a href ng-click="workspace.setTab(21)">Privacy</a></li>
      <li><a href ng-click="workspace.setTab(22)">Explorer</a></li>
      <li><a href ng-click="workspace.setTab(23)">Media</a></li>
      <li><a href ng-click="workspace.setTab(24)">Permissions</a></li>
      <li><a href ng-click="workspace.setTab(25)">Sharing</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
