<h1>All Posts</h1>
<table class="table table-hover">
  <tr>
    <th>Post #</th>
    <th>Title</th>
    <th>Snippet</th>
    <th>Date</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Effects of Global Warming</td>
    <td>Global warming is becoming a very large problem that is not sufficient</td>
    <td>08/01/2017 17:30:45 IST</td>
    <td>
      <a href="">Edit</a>
      <a href="">Delete</a>
      <a href="">Rebound</a>
    </td>
  </tr>
  <tr>
    <td>2</td>
    <td>Effects of Global Warming 2</td>
    <td>Global warming 2 is becoming 2 a very large problem that is not sufficient</td>
    <td>09/01/2017 17:35:40 IST</td>
    <td>
      <a href="">Edit</a>
      <a href="">Delete</a>
      <a href="">Rebound</a>
    </td>
  </tr>
</table>
