<div>
  <h1>This is the Workarea for the user</h1>
</div>

<!-- All Tabs for statistics -->
<website-stats ng-show="workspace.isSet(5) || workspace.isSet(1)"></website-stats>
<activity-stats ng-show="workspace.isSet(6)"></activity-stats>
<post-stats ng-show="workspace.isSet(7)"></post-stats>
<trend-stats ng-show="workspace.isSet(8)"></trend-stats>
<demand-stats ng-show="workspace.isSet(9)"></demand-stats>
<!-- Stats Tabs end here -->

<!-- All Tabs for Customization -->
<apperance-custom ng-show="workspace.isSet(10) || workspace.isSet(2)"></apperance-custom>
<widget-custom ng-show="workspace.isSet(11)"></widget-custom>
<theme-custom ng-show="workspace.isSet(12)"></theme-custom>
<page-custom ng-show="workspace.isSet(13)"></page-custom>
<!-- Customization Tabs end here -->


<!-- All Tabs for Posts -->
<all-post ng-show="workspace.isSet(14) || workspace.isSet(3)"></all-post>
<new-post ng-show="workspace.isSet(15)"></new-post>
<category-post ng-show="workspace.isSet(16)"></category-post>
<media-post ng-show="workspace.isSet(17)"></media-post>
<comment-post ng-show="workspace.isSet(18)"></comment-post>
<tag-post ng-show="workspace.isSet(19)"></tag-post>
<!-- Posts Tabs end here -->

<!-- All Tabs for Settings -->
<general-setting ng-show="workspace.isSet(20) || workspace.isSet(4)"></general-setting>
<privacy-setting ng-show="workspace.isSet(21)"></privacy-setting>
<explorer-setting ng-show="workspace.isSet(22)"></explorer-setting>
<media-setting ng-show="workspace.isSet(23)"></media-setting>
<permission-setting ng-show="workspace.isSet(24)"></permission-setting>
<sharing-setting ng-show="workspace.isSet(25)"></sharing-setting>
<!-- Settings Tabs end here -->
