<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Blog The Builder</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Explore</a></li>
        <li ng-class="{ active:workspace.isSet(1) }"><a href ng-click="workspace.setTab(1)">Stats</a></li>
        <li ng-class="{ active:workspace.isSet(2) }"><a href ng-click="workspace.setTab(2)">Customize</a></li>
        <li ng-class="{ active:workspace.isSet(3) }"><a href ng-click="workspace.setTab(3)">Posts</a></li>
        <li ng-class="{ active:workspace.isSet(4) }"><a href ng-click="workspace.setTab(4)">Settings</a></li>
        <li><a href="#">[ User Name ]</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
