<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card card-blue">

      <div class="card-head">
        <h3 class="card-heading">Viewership</h3>
      </div>

      <div class="card-body">

        <div class="row" ng-controller="chartCtrl as chart">

          <div class="col-lg-8 col-md-8 col-sm-12">

            <canvas id="bar" class="chart chart-bar" chart-data="chart.chartData.data" chart-labels="chart.chartData.labels" chart-series="chart.chartData.series">
            </canvas>

          </div>

          <div class="col-lg-4 col-md-4 col-sm-12">
            <h3>Options</h3>
            <md-input-container>
              <label>Scale</label>
              <md-select ng-model="chart.chartSettings.scale">
                <md-option selected value="day">Day</md-option>
                <md-option value="month">Month</md-option>
                <md-option value="year">Year</md-option>
                <md-option value="hour">Hour</md-option>
              </md-select>
            </md-input-container>
            <h4>Activity</h4>
            <md-button class="md-raised md-primary" ng-click="chart.getChartData('blogView')">Blog Views</md-button>
            <md-button class="md-raised md-primary" ng-click="chart.getChartData('postView')">Post Views</md-button>
            <md-button class="md-raised md-primary" ng-click="chart.getChartData('comment')">Comments</md-button>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
