<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card card-blue">

      <div class="card-head">
        <h3 class="card-heading">Viewership</h3>
      </div>

      <div class="card-body">

        <div class="row" ng-controller="chartCtrl as chart">

          <div class="col-lg-8 col-md-8 col-sm-12">

            <canvas id="line" class="chart chart-line" chart-data="chart.chartData.data" chart-labels="chart.chartData.labels" chart-series="chart.chartData.series" chart-options="chart.chartData.options" chart-dataset-override="chart.chartData.datasetOverride">
            </canvas>

          </div>

          <div class="col-lg-4 col-md-4 col-sm-12">
            <button class="btn btn-primary" ng-click="chart.callFunction()">Randomize</button>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
