.back{
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: url("../resource/background.jpg");
}
.banner{
  padding-left: 0;
  padding-right: 0;
}
.banner img{
  left: 0;
  width: 100%;
}
.blog_title{
  color: #FFF;
  text-transform:uppercase;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}
  .blog_title small{
    color: #f1937a;
  }

.navigation-bar{
  padding: 0;
  margin-bottom:0;
  position: relative;
  margin-top: 10px;
}


.navigation{
  background: -webkit-linear-gradient(top,#74c140,#327901);
  border-top: 1px solid #2bd700;
  border-bottom: 1px solid #28be03;
  border-left: 1px solid #25f94d;
  border-right: 1px solid #0a791f;
}

.navigation li{
  display: inline-block;
}
  .navigation li a{
    display: block;
    padding: 10px;
    color:#FFF;
  }

    .navigation li a:hover{
      box-shadow:inset 0 0 10px #000;
      text-decoration: none;
    }

.card-container{
  padding-left: 0;
  padding-right:0;
}

.card .header{
  background: url("../resource/tile.png");
  background-size: auto 100%;
  color:#FFF;
  text-align: center;
}
.card .body_card{
  margin-top: -10px;
  background-color: #1c1c1c;
  color: #FFF;
  padding: 15px;
}


.post_container{
  margin-top: 20px;
}

.post_container a{
  display: block;
  color: #FFF;
  margin:5px 0;
  padding: 20px 20px;
  background-color: #1c1c1c;
}

.post_container a:hover{
  background-color: #06c943;
  box-shadow: 0 0 20px #000;
}

.comment_form{
  width: 40%; 
}
